
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>

    <title>DingTalk</title>
</head>
<body>
    <script type="text/javascript">
        var _config = {
            agentId: '@Model.AgentId',
            corpId: '@Model.CorpId',
            timeStamp: '@Model.TimeStamp',
            nonceStr: '@Model.Nonce',
            signature: '@Model.Signature'
        };
        DingTalkPC.config({
            agentId: _config.agentId, // 必填，微应用ID
            corpId: _config.corpId,//必填，企业ID
            timeStamp: _config.timeStamp, // 必填，生成签名的时间戳
            nonceStr: _config.nonceStr, // 必填，生成签名的随机串
            signature: _config.signature, // 必填，签名
            jsApiList: ['runtime.info', 'device.notification.alert', 'runtime.permission.requestAuthCode'] // 必填，需要使用的jsapi列表
        });

        DingTalkPC.ready(function () {
            DingTalkPC.runtime.permission.requestAuthCode({
                corpId: _config.corpId, //企业ID
                onSuccess: function (info) {
                    location.href = " ../ISV/DingTalkAuthorize_CallBack?code=" + info.code;
                },
                onFail: function (err) {
                    alert('dd error: ' + JSON.stringify(err));
                }
            })
        });
        DingTalkPC.error(function (error) {
            {
                DingTalkPC.device.notification.alert({
                    message: "Message" + JSON.stringify(err),
                    title: "DingTalkPC Error",//可传空
                    buttonName: "确定",
                    onSuccess: function () {
                        /*回调*/
                    },
                    onFail: function (err) { }
                });
            }
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开调试窗口的 console查看，也可以在返回的res参数中查看。
        });
    </script>
</body>
</html>
